.pong-loader {
  position: relative;
  width: 200px;
  height: 150px;
  display: block;

  .paddle {
    height: 40px;
    width: 3px;
    background-color: white;
    position: relative;
  }

  .pong-loader__player-one {
    @extend .paddle;
    left: 0;
    animation: movePaddleOne 4s infinite;
  }

  .pong-loader__player-two {
    @extend .paddle;
    left: 200px;
    animation: movePaddleTwo 4s infinite;
  }

  .pong-loader__ball{
    position: relative;
    height: 5px;
    width: 5px;
    border-radius: 50%;
    background-color: white;
    animation: moveBall 4s infinite linear;
  }
}

@keyframes movePaddleOne{
  0%, 100%{
    transform: translate(0px, 100px);
  }
  25% {
    transform: translate(0px, 0px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 100px);
  }
}

@keyframes movePaddleTwo{
  0%, 100% {
    transform: translate(0px, -50px);
  }
  25% {
    transform: translate(0px, 10px);
  }
  50% {
    transform: translate(0px, 0px);
  }
  75% {
    transform: translate(0px, 50px);
  }
}

@keyframes moveBall{
  0%, 100% {
    transform:translate(0, 30px);
  }
  25% {
    transform:translate(198px, -25px);
  }
  50% {
    transform: translate(0, -55px);
  }
  75% {
    transform: translate(198px, 15px);
  }
}
